@using MvcCV.Models.Entity;
@model List<TBLEGİTİMLERİM>

<div class="resume-section-content">
    <h2 class="mb-5">EĞİTİM HAYATIM</h2>
    @foreach (var item in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.Baslik</h3>
                <div class="subheading mb-3">@item.Altbaslik1</div>
                <div>@item.Altbaslik2</div>
                <p>GNO: @item.GNO</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@item.Tarih</span></div>
        </div>
    }
</div>