@model MvcCV.Models.Entity.TBLDENEYİMLERİM

@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4> Deneyim Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başık")
    @Html.TextBoxFor(x => x.Altbaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
