@model MvcCV.Models.Entity.TBLADMİN

@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4> Şifre Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Admin ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
